{% extends "index.html" %}
{% block content %}

        <section class="contacts">
            <div class="cutcont">
                <img src="../static/img/IMG_2470.JPG" alt="">
                <div class="divp">
                    <p>
                        +38(096) 496 88 77 Евгений
                    </p>
                    <p>
                        +38(063) 280 90 17 Катерина
                    </p>
                    <p>
                        duetflatwhite@gmail.com
                    </p>
                    <div class="diva">
                        <a href="https://www.instagram.com/duet.flatwhite/?igshid=1obeqmv8ocnar"><img src="../static/img/instagramIcon.png" alt=""></a>
                        <a href="https://www.youtube.com/channel/UCw47TmltEDl6vBdgt1gb-lg"><img src="../static/img/youtubeIcon.png" alt=""></a>
                        <a href="https://www.facebook.com/shvedakmusic/"><img src="../static/img/facebookIcon.png" alt=""></a>
                    </div>
                </div>
            </div>

        </section>
{% endblock %}