{% extends 'index.html' %}

{% block content %}


<body>
         <section class="home">
            <div class="showcase">

                <h2 class="biglogo">Дуэт FlatWhite</h2>
                <img src="./static/img/IMG_7759.JPG" alt="" >

                <div class="info">
                    <p>
                        Приветствуем вас! Мы - Вокальный дуэт FlatWhite, в составе которого Евгений Шведак и Катерина Гончарова: профессиональные вокалисты, участники многочисленных фестивалей, конкурсов и телепроектов, таких как Шанс, Шоу №1, Х-фактор, Голос Країни! Наш трек-лист включает в себя более 200 хитовых композиций: это топовые мировые хиты, украинская музыка, дискотека 80-90-х, формат лаунж. Мы постоянно работаем над собой, обновляя репертуар, следя за музыкальными новинками и тенденциями. Индивидуальный подход к каждому мероприятию и любовь к своему делу – для нас всегда на первом месте! С нами атмосферно, весело и стильно. Мы гарантируем высокое качество своей работы и достойное сотрудничество!
                    </p>
                </div>
            </div>
        </section>

        <div class="feature-container">
            <section class="features">
                <div class="cards">
                    <div class="card">
                        <img src="./static/img/IMG_7757.JPG" alt="">
                    </div>
                    <div class="card">
                        <img src="./static/img/img_20190730_231733_106.JPG" alt="">
                    </div>
                    <div class="card">
                        <img src="./static/img/IMG_2470.JPG" alt="">
                    </div>
                </div>
            </section>
        </div>
        <section class="soon">
            <div class="soonn">
            <iframe class="onem" width="100%" height="200" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/874108633&color=%23cb0d0b&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"></iframe><div style="font-size: 10px; color: #cccccc;line-break: anywhere;word-break: normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;font-weight: 100;"><a href="https://soundcloud.com/evgeniy-shvedak" title="Дуэт FlatWhite" target="_blank" style="color: #cccccc; text-decoration: none;"></a> · <a href="https://soundcloud.com/evgeniy-shvedak/aint-nobody-felix-jaehn" title="Ain&#x27;t Nobody (Felix Jaehn)" target="_blank" style="color: #cccccc; text-decoration: none;"></a></div>
            <iframe width="100%" height="200" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/874107292&color=%23cb0d0b&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"></iframe><div style="font-size: 10px; color: #cccccc;line-break: anywhere;word-break: normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;font-weight: 100;"><a href="https://soundcloud.com/evgeniy-shvedak" title="Дуэт FlatWhite" target="_blank" style="color: #cccccc; text-decoration: none;"></a> · <a href="https://soundcloud.com/evgeniy-shvedak/shape-of-you-ed-sheeran" title="Shape Of You (Ed Sheeran)" target="_blank" style="color: #cccccc; text-decoration: none;"></a></div>
            <iframe width="100%" height="200" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/874106584&color=%23cb0d0b&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"></iframe><div style="font-size: 10px; color: #cccccc;line-break: anywhere;word-break: normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;font-weight: 100;"><a href="https://soundcloud.com/evgeniy-shvedak" title="Дуэт FlatWhite" target="_blank" style="color: #cccccc; text-decoration: none;"></a> · <a href="https://soundcloud.com/evgeniy-shvedak/gluboko-monatik-ft-dorofeeva" title="Глубоко (Monatik Ft. Dorofeeva)" target="_blank" style="color: #cccccc; text-decoration: none;"></a></div>
            <iframe class="vid" width="560" height="200" src="https://www.youtube.com/embed/LdEuIDDE4a4" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <iframe class="vid3" width="560" height="200" src="https://www.youtube.com/embed/VnSKa2TUJSw" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <iframe class="vid2" width="560" height="200" src="https://www.youtube.com/embed/DvxAiZ2yemo" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        </section>

 <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.1/gsap.min.js" integrity="sha512-IQLehpLoVS4fNzl7IfH8Iowfm5+RiMGtHykgZJl9AWMgqx0AmJ6cRWcB+GaGVtIsnC4voMfm8f2vwtY+6oPjpQ==" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TweenMax.min.js" integrity="sha512-DkPsH9LzNzZaZjCszwKrooKwgjArJDiEjA5tTgr3YX4E6TYv93ICS8T41yFHJnnSmGpnf0Mvb5NhScYbwvhn2w==" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TimelineMax.min.js" integrity="sha512-0xrMWUXzEAc+VY7k48pWd5YT6ig03p4KARKxs4Bqxb9atrcn2fV41fWs+YXTKb8lD2sbPAmZMjKENiyzM/Gagw==" crossorigin="anonymous"></script>
 <script src="../static/js/app.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.1/gsap.min.js" integrity="sha512-IQLehpLoVS4fNzl7IfH8Iowfm5+RiMGtHykgZJl9AWMgqx0AmJ6cRWcB+GaGVtIsnC4voMfm8f2vwtY+6oPjpQ==" crossorigin="anonymous"></script>

        {% for p in object_list %}

        {% endfor %}

        {% endblock %}
