{% extends 'index.html' %}

{% block content %}


        <section class="Ons">
            <div class="divobj">
            <img src="../static/img/2020-09-05 16.17.39.jpg" alt="">
            <div class="divforpO">
            <p>
Приветствуем вас! Мы - Вокальный дуэт FlatWhite, в составе которого Евгений Шведак и Катерина Гончарова: профессиональные вокалисты, участники многочисленных фестивалей, конкурсов и телепроектов, таких как Шанс, Шоу №1, Х-фактор, Голос Країни! Наш трек-лист включает в себя более 200 хитовых композиций: это топовые мировые хиты, украинская музыка, дискотека 80-90-х, формат лаунж. Мы постоянно работаем над собой, обновляя репертуар, следя за музыкальными новинками и тенденциями. Индивидуальный подход к каждому мероприятию и любовь к своему делу – для нас всегда на первом месте! С нами атмосферно, весело и стильно. Мы гарантируем высокое качество своей работы и достойное сотрудничество!
            </p></div>
            </div>
            <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

        </section>

 {% endblock %}